html
	head
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		title Articles
		style
			include css/articles.css
		style
			include lib/bootstrap/css/bootstrap.min.css
		style
			include lib/font-awesome/css/font-awesome.css
	body
		div.post-container
			div(style="text-align:center;margin-top:25px;")
				a(href="/")
					i.fa.fa-2x.fa-arrow-circle-o-up
			if posts
				each post, index in posts
					if(post.type == 'post')
						div.post.post-content
							a(href="/articles/#{post.slug}")
								h4 #{post.title}
								small(style="width:85%;margin:0 auto") #{post.subtitle}

					else
						div.post.post-img
							img(alt='#{post.title}', src='data:img/png;base64,#{post.src}')
							br
							small #{post.title}
			else 
				No Posts 